*{padding:0;
margin: 0; }
body {
background-color: #CDB5FF;
  }
  nav{display: flex;
justify-content: space-around;
align-items: center;
background-color: white;
}
li{
  margin: 10px;
  border-radius: none;
  
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  display: inline
  
  ;
}
main{
  display: flex;
  justify-content:right;
  margin:50px;
  font-family:'arial';
color: black;
}
h1 {color: white;}

